.headbk
{
	background-color: white;
}
.headlink
{
	color: #919191;
}
.content
{
	margin-top: 100px;
	width: 100%;
	background-color: white;
}
.item
{
	clear: both;
	color: #919191;
	padding:5px 10px;
	border-bottom:solid 1px #cccccc;
}
.item img
{
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-right: 10px;
}
.right
{
	margin-top: 5px;
	float:right;
}
