.bk
{
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	z-index: -2;
}
.bk1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 90%;
}
.bk2 {	
	width: 100%;
	height: 90%;
}
.bk3 {
	position: absolute;
	left: 180%;
	top: 0px;
	width: 5%;
	height: 80%;
	background-color: white;
}
.foot {
	position: fixed;
	bottom: 20px;
	text-align: center;
	width: 100%;
	z-index: 10;
}
.footbk
{
	position: fixed;
	bottom: -6px;
	text-align: center;
	width: 100%;
}
.footbk img
{
	width: 100%;
}
.iconbk {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #0fb8f3;
	border-radius: 50%;
}
.icon {
	color: white;
	font-size: 40px;
	margin-top: 5px;
}
.title {
	color: #919191;
	text-align: center;
	height: 10%;
	padding: 10px;
	font-size: 18px;
}
.content {
	height:90%;
	width: 90%;
	margin-left: 5%;
	background-color:#0fb8f3;		
	border-radius: 10px;
	padding-top: 20px;
}
.bk1 .menu
{
	padding: 10px 5px;
	height: 10%;
	width: 100%;
	font-size: 12px;
}
.bk1 .menu_01
{
	float: left;
	width: 32%;
	background-color: white;
	color:#0fb8f3;
	padding:2px 5px;
	border-radius: 20px;
	text-align: center;
	border:solid 1px white;
	margin-right: 1%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.bk1 .menu_02
{
	float: left;
	width: 32%;
	background-color: #0fb8f3;
	color:white;
	padding:2px 5px;
	border-radius: 20px;
	text-align: center;
	border:solid 1px white;
	margin-right: 1%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.bk1 .menu_03
{
	float: left;
	width: 32%;
	background-color: #0fb8f3;
	color:white;
	padding:2px 5px;
	border-radius: 20px;
	text-align: center;
	border:solid 1px white;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#roll1
{
	display: block;
}
#roll2
{
	display: none;
}
#roll3
{
	display: none;
}
.bk1 .roll
{
	height:83%;
	width: 100%;
	overflow: auto;
	
}
.bk1 .item
{
	clear: both;
	height: auto;
	overflow: auto;
	margin-bottom: 10px;
}
.bk1 .item .left
{
	float: left;
	width:35%;
	padding:0px 5px;
	height: 60px;
	display: inline-block;
}
.bk1 .item .left img
{	
	width:100%;
	border-radius:5px;
	height: 55px;
}
.bk1 .item .right
{
	float: left;
	width:65%;
	padding:0px 5px;
	height: 60px;
	overflow-y: hidden;
	display: inline-block;
}
.bk1 .item .right .right_title
{
	font-size: 14px;
	color: white;
}
.bk1 .item .right .right_text
{
	font-size: 12px;
	color: rgba(255,255,255,0.6);
}
.split
{
	margin-top: 4%;
	height:1px;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
}
.bk1 .up
{
	margin-top: 5px;
	color: white;
	float: left;
	width: 50%;
	text-align: center;
}
.bk1 .down
{
	margin-top: 5px;
	color: white;
	float: left;
	width: 50%;
	text-align: center;
}
.bk2 .content .title 
{
	height: 40px;
	text-align: left;
	color: white;
}
.bk2 .title img
{
	width: 30px !important;
	vertical-align: middle;
}
.bk2 .img 
{
	height:30%;
}
.bk2 .img img
{
	width: 100%;
	height: 100%;
	padding: 10px;
	border-radius: 10px;
}
.bk2 .split
{
	margin-top: 4%;
	height:1px;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
}
.bk2 .route
{
	height:55%;
	overflow: auto;
}
.bk2 .route .time
{
	float: left;
	width: 20%;
	padding-left: 5%;
	color: white;
}
.bk2 .route .time .time_item
{
	height: 50px;
}
.bk2 .route .clock
{
	font-size: 16px;
}
.bk2 .route .date
{
	font-size: 12px;
}
.bk2 .route .axis
{
	float: left;
	width: 5%;
	height: auto;
	margin-left: 2%;
	margin-top:5px;
}
.bk2 .route .address
{
	float: left;
	width: 50%;
}
.bk2 .route .axis .axis_item
{
	height: 50px;
	background-color:rgba(255,255,255,0.4);
	width: 1px;
	margin-left: 10px;	
}
.bk2 .route .axis .axis_item .circle
{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color:rgba(255,255,255,0.6);;
	position: relative;
	left: -200%;
	top:30%;
}
.bk2 .route .address .address_item
{
	height: 50px;
	color: white;
	padding-left: 5px;
}
.bk2 .route .address .address_item .place
{
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.bk2 .route .address .address_item .locale
{
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.bk2 .state
{
	float: left;
	width: 15%;
}
.bk2 .state_item
{
	height: 50px;
	text-align: center;
}
.bk2 .state img
{
	width: 80%;
}
.bk2 .state .text
{
	font-size: 12px;
	color: white;
	text-align: center;
	position: relative;
	margin-top:-5px;
}
.bk2 .state .color
{
	color:#fe4e52;
}
